[package]
name = "vba-parser"
version = "0.1.0"
edition = "2024"
build = "build.rs"

[dependencies]
tree-sitter = "0.20.10"

[build-dependencies]
cc = "1.0"

[profile.release]
lto = true
codegen-units = 1
strip = true
opt-level = 3

